.btn {
  padding: 3px 10px;

  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  color: #24292e;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 3px;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;

  font-size: 12px;
  font-weight: 600;
  line-height: 20px;

  &:hover {
    border-color: rgba(27,31,35,0.35);
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: -.5em;
  }
  
  &:active {
    border-color: rgba(27,31,35,0.35);
    background-color: #e9ecef;
    background-image: none;
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
  }
}