@import 'packages/core/vars.scss';

.day {
  position: relative;

  overflow: hidden;

  &__name {
    text-align: right;
  }
  &__book {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 25px;

    cursor: pointer;
    text-align: center;

    background-color: $color-3;

    font-size: 14px;
    line-height: 25px;
  }
  &__user {
    height: 45px;
    margin-top: 10px;

    text-align: center;

    background-color: $color-1;
  }
}

.slideup {
  &-enter {
    height: 0;
    &-active {
      height: 25px;

      transition: height 300ms ease;
    }
  }
  &-leave {
    height: 25px;
    &-active {
      height: 0;

      transition: height 300ms ease;
    }
  }
}