.room__name {
  position: absolute;
  top: 26px;
  left:4px;

  width: 108.75px;

  cursor: pointer;

  background-color: skyblue;
}
.room__info {
  width: 108.75px;
  height: 50px;
}
.room__cap {
  position: absolute;
  top: 4px;

  width: 108.75px;
  height: 20px;

  cursor: pointer;
  text-align: right;

  &-number {
    display: inline-block;

    width: 38px;
    height: 20px;
    margin-right: 2px;

    text-align: center;
    vertical-align: top;

    color: #fff;
    border-radius: 20px;
    background-color: red;

    line-height: 20px;
  }
}

.room__input-name {
  position: absolute;
  top: 28px;

  width: 108.75px;
  height: 20px;
  padding: 0 5px;

  border: 1px solid gray;
  border-radius: 4px;
}

.room__input-cap {
  position: absolute;
  top: 2px;

  width: 108.75px;
  height: 20px;
  padding: 0 5px;

  border: 1px solid gray;
  border-radius: 4px;
  
}


.left-slide {
  &-enter {
    transform: translateX(120px);
    &-active {
      transition: transform 1000ms ease;
      transform: translateX(0);
    }
  }
  &-leave {
    transform: translateX(0);
    &-active {
      transition: transform 1000ms ease;
      transform: translateX(120px);
    }
  }
}
.right-slide {
  &-enter {
    transform: translateX(-120px);
    &-active {
      transition: transform 1000ms ease;
      transform: translateX(0);
    }
  }
  &-leave {
    transform: translateX(0);
    &-active {
      transition: transform 1000ms ease;
      transform: translateX(-120px);
    }
  }
}