.filter {
  &__elem {
    display: inline-block;

    vertical-align: middle;
    & + & {
      margin-left:30px;
    }
  }

  &__capacity {
    display: block;

    width: 160px;
    &_val {
      text-align: center;
    }
  }
}