@import 'packages/book-entries/book-entries.scss';
@import 'packages/controls/text-input.scss';

html,
body {
  margin: 0;
  padding: 0;

  background: #ebebeb;
}

ul, li {
  margin: 0;
  padding: 0;
}