.rooms {
  position: relative;

  width: 950px;
  margin: 0 auto;

  &__item {
    position: relative;

    height: 100px;
 
    &-header {
      height: 50px;
    }
  }


  &__cell {
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 12.5%;
    height: 100%;

    vertical-align: top;

    border: 1px solid #ddd;

    &:first-child {
      width: 12.5%;
      padding: 4px;
    }
    
    
  }

  &__week-day {
    height: 30px;

    text-align: center;

    font-size: 14px;
    line-height: 30px;
  }
  &__date {
    height: 20px;

    text-align: center;

    font-size: 14px;
    line-height: 20px;
  }
}

.header {
  position: relative;

  height: 50px;
  padding: 5px;

  background-color: #EAAE8B;
  &:after {
    display: block;
    clear: both;

    content: '';
  }
}
.room-t {
  text-align: center;

  line-height: 50px;
}

.fade {
  &-enter {
    opacity: 0;
    &-active {
      transition: opacity 300ms ease;

      opacity: 1;
    }
  }
  &-leave {
    opacity: 1;
    &-active {
      transition: opacity 300ms ease;

      opacity: 0;
    }
  }
}

.controls {
  position: relative;

  border: 1px solid #000;
}

.addform-transition {
  &-enter {
    transform: translateX(300px);
    &-active {
      transition: transform 500ms cubic-bezier(.01,1.31,.99,1.18);
      transform: translateX(0);
    }
  }
  &-leave {
    transform: translateX(0);
    &-active {
      transition: transform 300ms linear;
      transform: translateX(300px);
    }
  }
}