@import 'packages/core/vars.scss';
@import 'packages/preloader/preloader';


.rooms {
  position: relative;

  width: 950px;
  margin: 0 auto;
  
  &__loading {
    @extend %block-preloader;
  }

  &__item {
    position: relative;

    height: 100px;
    margin-bottom: -1px;
 
    &-header {
      height: 50px;
    }
  }

  &__today {
    outline: 3px solid red;
    outline-offset: -4px;
  }
  
  &__cell {
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 12.5%;
    height: 100%;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-left: -1px;

    vertical-align: top;

    border: 1px solid #ddd;

    &:first-child {
      width: 12.5%;
      padding: 4px;
    }
  }

  &__week-day {
    height: 30px;

    text-align: center;

    font-size: 14px;
    line-height: 30px;
  }

  &__date {
    height: 20px;

    text-align: center;

    font-size: 14px;
    line-height: 20px;
  }
}

.header {
  position: relative;

  height: 60px;
  padding: 5px;

  background-color: $color-1;
  &:after {
    display: block;
    clear: both;

    content: '';
  }
}

.fade {
  &-enter {
    opacity: 0;

    &-active {
      transition: opacity 300ms ease;

      opacity: 1;
    }
  }
  
  &-leave {
    opacity: 1;

    &-active {
      transition: opacity 300ms ease;

      opacity: 0;
    }
  }
}

.controls {
  position: relative;

  border: 1px solid #000;
}

.calendar-controls {
  margin: 5px 10px;
  
  &:after {
    display: block;
    clear: both;

    content: '';
  }
}


.today {
  float: right;

  color: #1cb0bc;

  font-style: italic;
}

.addform-transition {
  &-enter {
    transform: translateX(320px);

    &-active {
      transition: transform 500ms cubic-bezier(.01,1.31,.99,1.18);
      transform: translateX(0);
    }
  }
  
  &-leave {
    transform: translateX(0);

    &-active {
      transition: transform 300ms linear;
      transform: translateX(320px);
    }
  }
}

.logo {
  float: left;
  &__text {
    display: inline-block;

    margin-left: 10px;

    vertical-align: middle;

    color: $color-3;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;

    font-family: 'Atma', cursive;
    font-size: 35px;
    font-weight: bold;
  }
}